.productParent {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  margin-bottom: 10%;
}
.productContainer {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.productCard {
  overflow: hidden;
  margin-bottom: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding-bottom: 8px;
  cursor: pointer;
  width: 400px;
  min-height: 500px;
}
.heart {
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 2;
}
.heart .heartIcon {
  color: #fff;
  cursor: pointer;
  font-size: 1.7rem;
}
.heart .fill {
  color: var(--primary-color);
}
.productImage {
  width: 100%;
  margin-top: 5px;
  position: relative;
}
.productCard img {
  width: 100%;
  aspect-ratio: 2/3;
  margin-top: 10px;
}
.productInfo {
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  padding: 10px;
}
.addCart {
  font-size: 1.2rem;
  line-height: initial;
  padding: 10px;
  width: 100%;
}

.review {
  padding: 0px 0px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.average {
  font-size: 14px;
  line-height: 1;
  margin-left: 6px;
  color: #9f9e9e;
}
.starContainer .star {
  font-size: 1.2rem;
  color: #9f9e9e;
}
.starContainer .starfill {
  color: #ffde00;
}
.brand {
  color: #878787;
  font-size: 1.8rem;
  font-weight: 500;
  color: #212121;
  font-weight: 600;
  display: block;
  margin-bottom: 25px;
}
.name {
  font-size: 1.2rem;
  display: block;
  max-width: 250px;
  white-space: nowrap;
  margin-bottom: 25px;
  font-weight: 600;
}
.productInfo .productPrice {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 700;
  color: #212121;
  margin-bottom: 25px;
}
.discount {
  font-size: 1.4rem;
  margin-left: 10px;
  text-decoration: line-through;
  color: #9f9e9e;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.wishListEmpty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.empty {
  width: 30%;
  margin-bottom: 25px;
}
.wishListInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}
.lonelyText {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4;
  color: #282c3f;
  -webkit-font-smoothing: antialiased;
}
.addText {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #58595b;
}
@media only screen and (min-width: 1025px) and (max-width: 1400px) {
  .productParent {
    max-width: 960px;
  }
  .name {
    max-width: 300px;
    white-space: initial;
  }
}
@media only screen and (max-width: 1024px) {
  .name {
    max-width: 300px;
    white-space: initial;
  }
  .productParent {
    margin-top: 130px;
    padding: 0 5%;
    margin-bottom: 15%;
  }
  .empty {
    width: 70%;
    margin-bottom: 25px;
  }

  .lonelyText {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.4;
    color: #282c3f;
    -webkit-font-smoothing: antialiased;
  }
  .addText {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: #58595b;
  }
  .productContainer {
    flex-direction: column;
    align-items: center;
    justify-content: initial;
    gap: 10px;
  }
  .productInfo {
    margin: 0;
  }
  .productCard {
    width: 300px;
    min-height: 400px;
  }
}
