.checkoutParent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.billingDetails {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  width: 300px;
  justify-content: center;
  padding: 20px;
  gap: 10px;
}
.billingDetails h3 {
  text-align: center;
}
.cartItems {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
