/* .productParent {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
.productContainer {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.5rem;
  gap: 1.5rem;
  padding: 1rem;
}
.productCard {
  border: 2px solid black;
  margin: 1vw;
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 2vw;
  align-items: center;
}
.productCard img {
  width: 250px;
  aspect-ratio: 2/3;
}
.productTitle {
  text-align: center;
  padding: 2vw;
  font-size: 30px;
}
.name {
  margin-top: 10px;
}
.buttonContainer {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.addWishList {
  background-color: #28a745;
  border-color: #28a745;
}
.quantity {
  display: inline-block;
  width: 100px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  outline: none;
  margin: 0px 10px;
}
.quantityContainer {
  margin-top: 10px;
}
.price {
  margin-top: 10px;
  font-weight: bold;
}
/* cart styles */
.cartParent {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.cartContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cartCard {
  border: 2px solid black;
  display: flex;
  align-items: center;
  padding: 0;
  width: 400px;
}
.cartCard img {
  width: 100px;
  aspect-ratio: 1/2;
}
.cartBillingContainer {
  padding: 20px;
}
.cartBillList {
  margin-top: 30px;
}
.cartBillItem {
  padding: 10px 0px;
  border-bottom: 2px solid #09080839;
  gap: 20px;
}
.cartBillItem {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
.billItemName {
  /* width: 50px; */
}
.billHeader,
.total {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
