.searchWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 450px;
}
.searchInputWrapper {
  width: 100%;
}
.searchInput {
  display: inline-block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  outline: none;
}
.searchInputWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.SearchBox {
  width: 450px;
  position: absolute;
  left: 0px;
  z-index: 1000;
  overflow-y: auto;
  top: 40px;
  max-height: 450px;
  border: 1px solid hsla(216, 3%, 66%, 0.22);
  background-color: #fff;
}
.searchInput {
  display: flex;
  align-items: center;
  position: relative;
}
.searchItem {
  padding: 10px;
  border-bottom: 1px solid hsla(216, 3%, 66%, 0.22);
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: bold;
  cursor: pointer;
}
.brand {
  color: #878787;
  font-weight: 500;
  margin-bottom: 5px;
}
.searchInfo span {
  display: block;
}
.searchImage {
  width: 120px;
  aspect-ratio: 2/3;
}

.closeSearch {
  position: absolute;
  right: 15px;
  cursor: pointer;
  border-radius: 50%;
  top: 7px;
  font-size: 1.6rem;
  color: var(--primary-color);
}
.notFound {
  display: block;
  padding: 10px;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .searchWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 10px;
  }
  .SearchBox {
    width: 100%;
    position: absolute;
    left: 0px;
    z-index: 1000;
    overflow-y: auto;
    top: 40px;
    max-height: 400px;
  }
}
