header,
nav {
  margin: 0px;
  background: #ffffff;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.navBarWrapper {
  display: flex;
  align-items: center;
  /* padding: 18px 150px; */
  padding: 18px 0;
  justify-content: space-between;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.navItems ul {
  display: flex;
  align-items: center;
  gap: 25px;
}
.navItems ul {
  list-style-type: none;
  font-size: 1.1rem;
  font-weight: 600;
}
.navItems .signIn {
  color: var(--primary-color);
  text-decoration: none;
}

.navItems .heart,
.navItems .cart,
.navItems .user {
  height: 1.7rem;
  width: 1.7rem;
  color: #000000;
}
.navItems .heart:hover,
.navItems .cart :hover {
  color: var(--primary-color);
}
.brand {
  cursor: pointer;
}
.iconWrapper {
  position: relative;
}
.quantity {
  font-size: 11px;
  font-weight: 700;
  position: absolute;
  z-index: 2;
  top: -8px;
  right: -10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
  background-color: #fb5d5d;
  width: 21px;
  height: 21px;
}
@media only screen and (min-width: 1025px) and (max-width: 1400px) {
  .navBarWrapper {
    max-width: 960px;
  }
}
@media only screen and (max-width: 1024px) {
  header {
    padding: 0 5%;
    margin-bottom: 15%;
  }
  .navBarWrapper {
    padding-bottom: 5px;
  }
  .logout {
    font-size: 0.8rem;
    line-height: normal;
    padding: 7px 9px;
  }
  .navItems .heart,
  .navItems .cart,
  .navItems .user {
    height: 1em;
    width: 1em;
    color: #000000;
  }
  .navItems ul {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}
