header,
nav {
  margin: 0px;
  background: #ffffff;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.navBarWrapper {
  display: flex;
  align-items: center;
  /* padding: 18px 150px; */
  padding: 18px 0;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.navItems ul {
  display: flex;
  align-items: center;
  gap: 25px;
}
.navItems ul {
  list-style-type: none;
  font-size: 1.1rem;
  font-weight: 600;
}
.navItems .signIn {
  color: var(--primary-color);
  text-decoration: none;
}

.navItems .heart,
.navItems .cart,
.navItems .user {
  height: 1.7rem;
  width: 1.7rem;
  color: #000000;
}
.navItems .heart:hover,
.navItems .cart :hover {
  color: var(--primary-color);
}
.brand {
  cursor: pointer;
}
@media only screen and (min-width: 1025px) and (max-width: 1400px) {
  .navBarWrapper {
    max-width: 960px;
  }
}
